body {
    margin: 0;
}

.App {
    width: 100%;
}
.bet-item {
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 20fr;
    gap: 0;
    width: 200px;
    height: 200px;
    
  }
  
 .date {
    grid-column: span 2;
    text-align: center;
    color: white;
    background-color: black;
    margin-bottom: 0px;
    padding-bottom: 0px;
 }
 .dateItem {
    margin-bottom: 10px !important;
    margin-top: 5px;
    font-size: 24px;
 }

 .box {
    
    background-color: rgb(235, 228, 228);
 }

.team {
    font-size: 30px;
}
.odds {
    display: block;
    justify-content: center; /* Horizontal center alignment */
    align-items: center; /* Vertical center alignment */
    font-size: 40px;
    padding-top: 1px;
    padding-bottom: 1px;
}
.btn {
    width: 80px;
}
.logout {
    display: inline-block;
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-weight: lighter;
    margin-right: 30px;
    
}

.nav {
    font-size: 50px;
    color: aliceblue;
    margin-right: 200px;
    margin-top: 45px;
    text-decoration: none;
    
}

.navbar {
    background-color: rgb(69, 68, 68);
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
   
}
.sign {
    color: wheat;
}

.home {
    color: aquamarine !important;
}

.login {
    padding: 15px 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
.login:focus {
    outline: none;
    border-color: rgb(8, 78, 184);
  }
.one {
    margin-top: 20px;

}



.authUser {
    display: flex;
    align-items: flex-start;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
.button-container {
    display: flex;
    flex-direction: column;
    margin-left: 7px;
    margin-top: 20px;
  }
  
  .button-container button {
    margin-bottom: 10px;
  }

.title {
    
    margin-right: 30px !important;
    margin-left: 40px;
    margin-top: 50px;

}
.seperate {
    
    background-color: rgb(137, 121, 102);
    width: 5px;
    margin-right: 100px;
}

.auth {
    margin-left: auto !important;
    margin-right: 30px;
}
.auth p {
    margin-top: 0px;
    color: red;
    font-size: 15px;
    font-weight: bold;
}
.auth2 {
    margin-top: 10px
}

.about {
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0 200px;
    
}

.about h1 {
    text-align: center;
}

.err {
    color: rgb(175, 24, 24);
    text-align: center;
}

.content {
    padding-bottom: 0px !important;
}

.oauth2 {
    color: black;
    align-self: center;
    
}
.oauth {
    text-align: center;
    margin-bottom: 12px;
}

.id {
  text-align: center;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.923);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.login-form {
    background: #fff;
    width: 500px;
    margin: 65px auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
  }
  .login-form h1 {
    padding: 35px 35px 0 35px;
    font-weight: 300;
  }
  .login-form .content {
    padding: 35px;
    text-align: center;
  }
  .login-form .input-field {
    padding: 12px 5px;
  }
  .login-form .input-field input {
    font-size: 16px;
    display: block;
    font-family: 'Rubik', sans-serif;
    width: 100%;
    padding: 10px 1px;
    border: 0;
    border-bottom: 1px solid #747474;
    outline: none;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  .login-form .input-field input::-webkit-input-placeholder {
    text-transform: uppercase;
  }
  .login-form .input-field input::-moz-placeholder {
    text-transform: uppercase;
  }
  .login-form .input-field input:-ms-input-placeholder {
    text-transform: uppercase;
  }
  .login-form .input-field input::-ms-input-placeholder {
    text-transform: uppercase;
  }
  .login-form .input-field input::placeholder {
    text-transform: uppercase;
  }
  .login-form .input-field input:focus {
    border-color: #222;
  }
  .login-form a.link {
    text-decoration: none;
    color: #747474;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 20px;
  }
  .login-form .action {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
  }
  .login-form .action button {
    width: 100%;
    border: none;
    padding: 18px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    background: #e8e9ec;
    color: #777;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    letter-spacing: 0.2px;
    outline: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .login-form .action button:hover {
    background: #d8d8d8;
  }
  .login-form .action button:nth-child(2) {
    background: #2d3b55;
    color: #fff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 4px;
  }
  .login-form .action button:nth-child(2):hover {
    background: #3c4d6d;
  }